/*
<body>
    <div id="content" class="fullscreen">
        <div id="pg1" class="page">pg1</div>
        <div id="pg1" class="page">pg2</div>
    </div>
    <div></div>
    <!-- NO HTML BELOW THIS LINE-->
    <script src="main.js"></script>
</body>
</html>
*/
body{
    background: gray;
}
.fullscreen{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background: linear-gradient(-65deg, hsla(200, 51%, 50%, 0.8), hsla(200, 51%, 95%, 0.8));
}

.page{
    position: absolute;
    display: inline-block;
    height: 500px;
    width: 100%;
    left: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 3rem;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 5px dashed white;
    box-sizing: border-box;
    user-select: none;
}
#pg1{
    background: teal;
    transform-origin: left;
    transform: rotateY(0deg);
    transition: transform 1s ease;
    z-index: 2;
}
#pg2{
    background: linear-gradient(hsla(35, 30%, 35%, 1.00),hsla(35, 30%, 35%, 0));
    //box-shadow: 3px 3px 15px black;
    transform-origin: left;
    transform: rotateY(0deg);
    transition: transform 1s ease;    
    z-index: 1;    
}
#holder{
    position: absolute;
    display: inline-block;
    height: 500px;
    width: 25rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 15px 15px 30px black;
}
